.footer-top {
    padding: 40px 0;
    background-color: #fff5d9;
}
.footer-copyrights {
    padding: 15px;
    color:black;
    text-align: center;
    background-color: #132c4c;
}

.footer-copyrights p {
    margin-bottom: 0;
}

.footer h3 {
    color:black;
    font-size: 22px;
    margin-top: 30px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li:not(:last-child) {
    border-bottom: 1px solid black;
}
.footer li {
    padding: 10px 0;
}
.footer a {
    color: #522812;
    text-decoration: none;
}